$white: #ffffff;
$dark: #000000;
$primary: #07a0b8;
$grey-1: #eaeaea;
$grey-2: #f7f7f7;
$text-1: #999999;
$primary-400: #07a0b8;
$neutral-800: #222222;
$neutral-600: #3c3c3c;
$neutral-400: #999999;
$neutral-200: #d7d7d7;
$neutral-100: #eaeaea;
$neutral-50: #f7f7f7;
$neutral-0: #ffffff;
$red-1: #f54e4e;
